## NOAA Storm Events Data Processing

In [1]:
import pandas as pd
import glob
import os

In [3]:
storm_list = glob.glob(os.getcwd()+'/data/storm/*.csv')

for i,x in enumerate(storm_list):
    dat_i = pd.read_csv(x) #, usecols=['YEAR','MONTH_NAME','STATE', 'EVENT_TYPE', 'EPISODE_ID']
    dat_i = dat_i[dat_i.EVENT_TYPE.isin(['Coastal Flood'])].drop_duplicates()
    if i == 0:
        storm_dat = dat_i
    else:
        storm_dat = storm_dat.append(dat_i)

/home/samantha/anaconda3/envs/dva-class/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3051: DtypeWarning: Columns (26,28) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/home/samantha/anaconda3/envs/dva-class/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3051: DtypeWarning: Columns (28) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/home/samantha/anaconda3/envs/dva-class/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3051: DtypeWarning: Columns (29,34,35,37) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
storm_dat.head()

,BEGIN_YEARMONTH,BEGIN_DAY,BEGIN_TIME,END_YEARMONTH,END_DAY,END_TIME,EPISODE_ID,EVENT_ID,STATE,STATE_FIPS,...,END_RANGE,END_AZIMUTH,END_LOCATION,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,EPISODE_NARRATIVE,EVENT_NARRATIVE,DATA_SOURCE
972,201001,25,1223,201001,25,1520,36157.0,209676,MARYLAND,24.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A persistent onshore flow lead to areas of coa...,Coastal flooding was reported across Doc Street.,CSV
1030,201001,25,1136,201001,25,1705,36157.0,209677,MARYLAND,24.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A persistent onshore flow lead to areas of coa...,High water rescues were reported along Bay Dri...,CSV
1031,201001,27,253,201001,27,1059,36158.0,209678,DISTRICT OF COLUMBIA,11.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Heavy amounts of rain over the past couple day...,Washington Harbor had to raise the flood gates...,CSV
1233,201001,1,1145,201001,1,1445,36726.0,213166,CALIFORNIA,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,An extreme astronomical high tide caused flood...,An extreme astronomical high tide of seven and...,CSV
2895,201001,2,1034,201001,2,1330,36204.0,209928,MASSACHUSETTS,25.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Low pressure east of Nantucket resulted in a l...,"Loring Road and Commercial, Bridge, and Forres...",CSV

In [6]:
storm_dat.columns

Index(['BEGIN_YEARMONTH', 'BEGIN_DAY', 'BEGIN_TIME', 'END_YEARMONTH',
       'END_DAY', 'END_TIME', 'EPISODE_ID', 'EVENT_ID', 'STATE', 'STATE_FIPS',
       'YEAR', 'MONTH_NAME', 'EVENT_TYPE', 'CZ_TYPE', 'CZ_FIPS', 'CZ_NAME',
       'WFO', 'BEGIN_DATE_TIME', 'CZ_TIMEZONE', 'END_DATE_TIME',
       'INJURIES_DIRECT', 'INJURIES_INDIRECT', 'DEATHS_DIRECT',
       'DEATHS_INDIRECT', 'DAMAGE_PROPERTY', 'DAMAGE_CROPS', 'SOURCE',
       'MAGNITUDE', 'MAGNITUDE_TYPE', 'FLOOD_CAUSE', 'CATEGORY', 'TOR_F_SCALE',
       'TOR_LENGTH', 'TOR_WIDTH', 'TOR_OTHER_WFO', 'TOR_OTHER_CZ_STATE',
       'TOR_OTHER_CZ_FIPS', 'TOR_OTHER_CZ_NAME', 'BEGIN_RANGE',
       'BEGIN_AZIMUTH', 'BEGIN_LOCATION', 'END_RANGE', 'END_AZIMUTH',
       'END_LOCATION', 'BEGIN_LAT', 'BEGIN_LON', 'END_LAT', 'END_LON',
       'EPISODE_NARRATIVE', 'EVENT_NARRATIVE', 'DATA_SOURCE'],
      dtype='object')

In [5]:
storm_dat.describe()

,BEGIN_YEARMONTH,BEGIN_DAY,BEGIN_TIME,END_YEARMONTH,END_DAY,END_TIME,EPISODE_ID,EVENT_ID,STATE_FIPS,YEAR,...,CATEGORY,TOR_LENGTH,TOR_WIDTH,TOR_OTHER_CZ_FIPS,BEGIN_RANGE,END_RANGE,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON
count,3138.000000,3138.000000,3138.000000,3138.000000,3138.000000,3138.000000,3.138000e+03,3.138000e+03,3138.000000,3138.000000,...,0.0,0.0,0.0,0.0,2.000000,1.0,0.0,0.0,0.0,0.0
mean,201064.754621,15.078075,1117.172084,201064.755577,15.896431,1271.200446,4.149942e+05,1.467304e+06,30.227215,2010.575526,...,NaN,NaN,NaN,NaN,2.000000,3.0,NaN,NaN,NaN,NaN
std,699.070643,9.219110,634.446045,699.068651,9.153864,649.564461,7.083167e+05,2.033875e+06,16.092051,6.988642,...,NaN,NaN,NaN,NaN,1.414214,NaN,NaN,NaN,NaN,NaN
min,199601.000000,1.000000,0.000000,199601.000000,1.000000,0.000000,2.900000e+01,8.360000e+02,1.000000,1996.000000,...,NaN,NaN,NaN,NaN,1.000000,3.0,NaN,NaN,NaN,NaN
25%,200704.000000,7.000000,700.000000,200704.000000,8.000000,900.000000,5.754900e+04,3.497062e+05,23.000000,2007.000000,...,NaN,NaN,NaN,NaN,1.500000,3.0,NaN,NaN,NaN,NaN
50%,201210.000000,14.000000,1000.000000,201210.000000,15.000000,1200.000000,1.019680e+05,6.110995e+05,34.000000,2012.000000,...,NaN,NaN,NaN,NaN,2.000000,3.0,NaN,NaN,NaN,NaN
75%,201610.000000,24.000000,1700.000000,201610.000000,24.000000,1800.000000,1.408630e+05,8.474168e+05,36.000000,2016.000000,...,NaN,NaN,NaN,NaN,2.500000,3.0,NaN,NaN,NaN,NaN
max,201912.000000,31.000000,2354.000000,201912.000000,31.000000,2359.000000,2.414540e+06,5.722859e+06,99.000000,2019.000000,...,NaN,NaN,NaN,NaN,3.000000,3.0,NaN,NaN,NaN,NaN

In [5]:
storm_dat.STATE.unique()

array(['MARYLAND', 'DISTRICT OF COLUMBIA', 'CALIFORNIA', 'MASSACHUSETTS',
       'SOUTH CAROLINA', 'MISSISSIPPI', 'NORTH CAROLINA', 'NEW HAMPSHIRE',
       'MAINE', 'RHODE ISLAND', 'NEW YORK', 'INDIANA', 'GEORGIA',
       'LOUISIANA', 'NEW JERSEY', 'CONNECTICUT', 'PENNSYLVANIA',
       'VIRGINIA', 'ALASKA', 'PUERTO RICO', 'VIRGIN ISLANDS',
       'WASHINGTON', 'FLORIDA', 'DELAWARE', 'GUAM', 'TEXAS', 'OREGON',
       'ALABAMA', 'OHIO', 'ILLINOIS', 'MINNESOTA', 'HAWAII'], dtype=object)

In [21]:
storm_agg_for_model = storm_dat.groupby(['STATE', 'CZ_NAME']).nunique()
storm_agg_for_model['EVENT_ID'].to_csv("coastal_flood_events_by_county.csv") # Since 1996
storm_agg_for_model # After this, I did some manual editing in Excel

/home/samantha/anaconda3/envs/dva-class/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.

                                   BEGIN_YEARMONTH  BEGIN_DAY  BEGIN_TIME  \
STATE      CZ_NAME
ALABAMA    BALDWIN                               1          1           1
           BALDWIN COASTAL                       1          1           1
           BALDWIN INLAND                        1          1           1
           LOWER BALDWIN                         3          3           3
           LOWER MOBILE                          7          7           6
...                                            ...        ...         ...
WASHINGTON W GRAYS HARBOR                        1          1           1
           W PACIFIC                             1          1           1
           WESTERN SKAGIT COUNTY                 1          1           1
           WESTERN WHATCOM                       1          1           1
           WESTERN WHATCOM COUNTY                2          2           1

                                   END_YEARMONTH  END_DAY  END_TIME  \
STATE      CZ_NAME
ALABAMA    BALDWIN                             1        1         1
           BALDWIN COASTAL                     1        1         2
           BALDWIN INLAND                      1        1         1
           LOWER BALDWIN                       3        3         3
           LOWER MOBILE                        7        7         7
...                                          ...      ...       ...
WASHINGTON W GRAYS HARBOR                      1        1         1
           W PACIFIC                           1        1         1
           WESTERN SKAGIT COUNTY               1        1         1
           WESTERN WHATCOM                     1        1         1
           WESTERN WHATCOM COUNTY              2        2         2

                                   EPISODE_ID  EVENT_ID  STATE  STATE_FIPS  \
STATE      CZ_NAME
ALABAMA    BALDWIN                          1         1      1           1
           BALDWIN COASTAL                  1         2      1           1
           BALDWIN INLAND                   1         1      1           1
           LOWER BALDWIN                    3         3      1           1
           LOWER MOBILE                     7         7      1           1
...                                       ...       ...    ...         ...
WASHINGTON W GRAYS HARBOR                   1         1      1           1
           W PACIFIC                        1         1      1           1
           WESTERN SKAGIT COUNTY            1         1      1           1
           WESTERN WHATCOM                  1         1      1           1
           WESTERN WHATCOM COUNTY           2         2      1           1

                                   ...  END_RANGE  END_AZIMUTH  END_LOCATION  \
STATE      CZ_NAME                 ...
ALABAMA    BALDWIN                 ...          0            0             1
           BALDWIN COASTAL         ...          0            0             0
           BALDWIN INLAND          ...          0            0             0
           LOWER BALDWIN           ...          0            0             0
           LOWER MOBILE            ...          0            0             0
...                                ...        ...          ...           ...
WASHINGTON W GRAYS HARBOR          ...          0            0             0
           W PACIFIC               ...          0            0             0
           WESTERN SKAGIT COUNTY   ...          0            0             0
           WESTERN WHATCOM         ...          0            0             0
           WESTERN WHATCOM COUNTY  ...          0            0             0

                                   BEGIN_LAT  BEGIN_LON  END_LAT  END_LON  \
STATE      CZ_NAME
ALABAMA    BALDWIN                         0          0        0        0
           BALDWIN COASTAL                 0          0        0        0
           BALDWIN INLAND                  0          0        0        0
           LOWER BALDWIN                   0          0        0        0
           LOWER MOBILE                    0          0        0        0
...                                      ...        ...      ...      ...
WASHINGTON W GRAYS HARBOR                  0          0        0        0
           W PACIFIC                       0          0        0        0
           WESTERN SKAGIT COUNTY           0          0        0        0
           WESTERN WHATCOM                 0          0        0        0
           WESTERN WHATCOM COUNTY          0          0        0        0

                                   EPISODE_NARRATIVE  EVENT_NARRATIVE  \
STATE      CZ_NAME
ALABAMA    BALDWIN                                 1                0
           BALDWIN COASTAL                         1                2
           BALDWIN INLAND                          1                1
           LOWER BALDWIN                           3                3
           LOWER MOBILE                            7                6
...                                              ...              ...
WASHINGTON W GRAYS HARBOR                          1                0
           W PACIFIC                               1                0
           WESTERN SKAGIT COUNTY                   1                1
           WESTERN WHATCOM                         1                0
           WESTERN WHATCOM COUNTY                  2                2

                                   DATA_SOURCE
STATE      CZ_NAME
ALABAMA    BALDWIN                           1
           BALDWIN COASTAL                   1
           BALDWIN INLAND                    1
           LOWER BALDWIN                     1
           LOWER MOBILE                      1
...                                        ...
WASHINGTON W GRAYS HARBOR                    1
           W PACIFIC                         1
           WESTERN SKAGIT COUNTY             1
           WESTERN WHATCOM                   1
           WESTERN WHATCOM COUNTY            1

[374 rows x 51 columns]

## Part 2: Taking the data I created by county and get it by zip

In [2]:
storm_dat = pd.read_csv('coastal_flood_events_by_county.csv') # Manually edited csv file
county_zip = pd.read_csv('data/ZIP_COUNTY_122019.csv') # Zip to county mapping file

In [3]:
storm_dat.head(), county_zip.head()

(     State                                          County  \
 0  ALABAMA                                         BALDWIN
 1  ALABAMA                                    LOWER MOBILE
 2  ALABAMA                                   LOWER BALDWIN
 3  ALABAMA                                          MOBILE
 4   ALASKA  CAPE FAIRWEATHER TO CAPE SUCKLING COASTAL AREA

    coastal_flood_events_96_19 State_abbrev  County_FIPS
 0                           4           AL         1003
 1                           7           AL         1063
 2                           3           AL         1064
 3                          14           AL         1097
 4                           1           AK         2017  ,    ZIP  COUNTY
 0  501   36103
 1  647   72121
 2  647   72055
 3  650   72017
 4  650   72013)

In [4]:
merged = county_zip.merge(storm_dat, how = 'inner', left_on = 'COUNTY', right_on = 'County_FIPS')

In [6]:
merged.describe()

                ZIP        COUNTY  coastal_flood_events_96_19   County_FIPS
count   3640.000000   3640.000000                 3640.000000   3640.000000
mean   40886.864560  20903.590659                   10.692582  20903.590659
std    34673.231416  13967.371400                   18.093442  13967.371400
min      501.000000   1003.000000                    1.000000   1003.000000
25%    10548.000000   6081.000000                    1.000000   6081.000000
50%    30223.000000  22073.000000                    4.000000  22073.000000
75%    90089.250000  34025.000000                   12.000000  34025.000000
max    99371.000000  53049.000000                  130.000000  53049.000000

In [10]:
final = merged.drop(['COUNTY'], axis = 1)

In [11]:
final.head()

,ZIP,State,County,coastal_flood_events_96_19,State_abbrev,County_FIPS
0,501,NEW YORK,SUFFOLK,2,NY,36103
1,6390,NEW YORK,SUFFOLK,2,NY,36103
2,11701,NEW YORK,SUFFOLK,2,NY,36103
3,11702,NEW YORK,SUFFOLK,2,NY,36103
4,11703,NEW YORK,SUFFOLK,2,NY,36103

In [12]:
final.to_csv('storm_flood events_by_zip.csv')